body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    position: sticky;
    left: 50px;
    top: 30px;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    left: 275px;
    top: 25px;
}

h2 {
    color: white;
    font-weight: lighter;
    font-size: larger;
    position: absolute;
    left: 275px;
    top: 70px;

}

div.head {
    background-color: #DD180A;
}

span.awal {
    color: white;
}

span.akhir {
    color: black;
}

div.bar {
    background-color: #d29a79;
    text-align: right;
    padding: 10px;
}

.button {
    color: white;
    font-weight: 600;
    padding: 10px 10px;
    text-decoration: none;
}

span.h3 {
    background-color: #d27f79;
    color: white;
    font-weight: 900;
    padding: 5px;
}

video {
    position: relative;
    left: 850px;
}

.box {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 75px;
    top: 350px;
    text-align: justify;
    width: 600px;
}

.float {
    float: left;
    margin-right: 5px;
}

table, th, td {
    border: 1px solid #d29a79;
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 80%;
}

.middle {
    text-align: center;
}

th {
    background-color: #d29a79;
    color: white;
}

div.formbox {
    background-color: #d29a79;
    border-radius: 20px;
    padding: 25px;
    margin-left: 150px;
    width: 225px;
}

button {
    background-color: #d27f79;
    border-radius: 5px;
    color: white;
    font-size: medium;
    padding: 5px 85px;
    text-align: center;
    border: none;
}

footer {
    background-color: rgb(227, 227, 227);
    color: #d27f79;
    text-align: center;
    margin-top: 20px;
    padding: 1px;
}